АКЦИОНЕРНОЕ ОБЩЕСТВО «АЛЬФА-БАНК», именуемое в дальнейшем «Банк», с одной
стороны, и Пользователь, с другой стороны, при совместном упоминании в дальнейшем
именуемые «Стороны», заключили настоящий договор информационного взаимодействия
онлайн-сервиса «Поток», именуемый в дальнейшем «Договор», о нижеследующем.
1. Термины и определения, используемые в Договоре
Абонентский договор - договор, зарегистрированный на имя Инвестора/Руководителя заемщика, о
предоставлении услуг подвижной электросвязи с использованием Абонентского номера между
Инвестором/Руководителем заемщика и оператором сотовой связи, предоставляющим свои услуги
на территории Российской Федерации (далее – РФ). Абонентский договор должен быть оформлен
на бумажном носителе и предусматривать возможность Инвестора/Руководителя заемщика
осуществлять с использованием Абонентского номера прием и обработку голосовых вызовов, а
также прием и отправление SMS-сообщений.
Абонентский номер – номер мобильного телефона, представленный Инвестору/Руководителю
заемщика оператором подвижной электросвязи в соответствии с Абонентским договором, и
предоставленный Пользователем Банку в качестве основного контактного номера, который
используется для взаимодействия с Банком, в том числе при входе в Интернет-банк.
Аутентификационные данные – данные, необходимые Пользователю для входа в Личный
кабинет: уникальные Логин и Пароль Пользователя, используемые Пользователем при доступе в
Интернет-банк.
График платежей – график платежей, который составляется в соответствии с Договором займа.
Договор займа – договор займа, заключенный между Заемщиком и Займодавцем посредством
Онлайн-сервиса, путём акцепта Займодавцем оферты Заемщика, определяемого на основании
оферты Заемщика, в виде Общих условий договора займа и Индивидуальных условий договора
займа посредством перевода Займодавцем денежных средств на счет Заемщика в размере и в срок,
указанные в Договоре займа.
Заемщик – юридическое лицо – резидент РФ или индивидуальный предприниматель – Клиент
Банка, который осуществил привлечение денежных средств путем заключения Договоров займа
посредством Онлайн-сервиса.
Заявка на инвестирование – заявка, оформленная Потенциальным инвестором посредством
Онлайн-сервиса, подтверждающая решение Потенциального инвестора предоставить инвестиции
указанным в ней Потенциальным заемщикам. 
